<p-table [value]="books$ | async">
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Author</th>
            <th>Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-book>
        <tr>
            <td><a routerLink="/id/{{book.id}}">{{book.id}}</a></td>
            <td>{{book.title}}</td>
            <td><a routerLink="/author/{{book.author}}">{{book.author}}</a></td>
            <td><button pButton type="button" label="Remove" (click)="remove(book.id)"></button></td>
        </tr>
    </ng-template>
</p-table>
